.ContactItem {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  .contact {
    display: flex;
    align-items: center;
    background-color: #191d2b;
    padding: 3rem 0;
    .right-items {
      // margin-left: auto;
    }
    .img {
      padding: 1rem;
      border: 1px solid #037fff;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 2rem;
      width: 16%;
      background-color: white;
    }
    .right-items {
      h6 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #cf2c96;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}

.ContactPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
  @media screen and (max-width: 1270px) {
    grid-template-columns: repeat(1, 1fr);
    .map-section {
      width: 100%;
      height: 50vh;
      margin-bottom: 1rem;
    }
  }
  .contact-section {
    width: 100%;
  }
}
.map-section {
  width: 97%;
  padding: 1rem;
  background-color: #191d2b;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.contact-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  margin-bottom: 5rem;
}
