.EducationSection {
  margin: 1rem;
  display: flex;
  .left-education-section {
    // width: 50vh;
  }
  .right-education-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    .education-info1 {
      text-align: left;
      h3 {
        color: #cf2c96;
      }
      .highlight {
        color: #20adee;
      }
    }
    .education-info2 {
      text-align: right;
    }
  }
  @media screen and (max-width: 441px) {
    margin: 0;
    .left-education-section {
      display: flex;
      justify-content: center;
    }

    .right-education-section {
      flex-direction: column;
      .education-info1 {
        text-align: center;
      }
      .education-info2 {
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .left-education-section {
      display: flex;
      justify-content: center;
    }
    flex-direction: column;
  }
}
