.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  .greeting-text {
    color: white;
    text-align: center;
    span {
      color: #037fff;
    }
  }
  .loop {
    text-align: center;
    font-size: 4rem;
    @media screen and (max-width: 1000px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 411px) {
      font-size: 1.5rem;
    }
  }
}

.h-sub-text {
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;

  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: #a4acc4;
      transition: all 0.4s;
    }
    .fb:hover {
      color: #3b5998;
    }
    .gh:hover {
      color: white;
    }
    .yt:hover {
      color: #ff0000;
    }
    .ln:hover {
      color: #0e76a8;
    }
    .md:hover {
      color: white;
    }
  }
}
